.contact {
    &__inner {
        // なぜか inner-initというmixinがないというエラーになる
        // 変数もないよってエラーになる
        // @include inner-init;
        max-width: 1200px;
        margin: 100px auto 0;
    }
    &__title {
        margin-top: 50px;
        padding: 30px 0;
        text-align: center;
        border-top: 0.5px solid rgb(230, 230, 230);
        border-bottom: 0.5px solid rgb(230, 230, 230);
    }
    &__content {
        margin-top: 50px;
    }
    &__salon:nth-child(n + 2) {
        margin-top: 70px;
    }
    // &__salon-name {
        // font-size: 2rem;
    // }
    &__salon-tr {
        border-bottom: 1px solid rgb(230, 230, 230);
    }
    &__salon-th {
        text-align: left;
        padding: 5px;
    }
    &__salon-td {
        margin-left: 100px;
    }
    &__map {
        margin-top: 10px;
        width: 1200px;
        height: 300px;
    }
    @media screen and (max-width: 768px) {
        &__salon-tbl {
            margin-left: 15px;
            margin-right: 15px;
        }
        &__map {
            width: 100vw;
            height: 300px;
        }
    }
}