.flow {
    &__inner {
        @include inner-init;
    }
    &__title {
        margin-top: 50px;
        padding: 30px 0;
        text-align: center;
        border-top: 0.5px solid rgb(230, 230, 230);
        border-bottom: 0.5px solid rgb(230, 230, 230);
    }
    &__content {
        margin-top: 50px;
    }
    &__step {
        margin-bottom: 50px;
    }
    .step {
        color: rgb(247, 187, 131);
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}