.footer {
    &__inner {
        width: 100vw;
        height: 550px;
        background-color: rgb(230, 230, 230);
        margin-top: 100px;
    }
    &__cat {
        @include flex-box-init;
        justify-content: start;
        width: 60%;
        margin: 0 auto;
    }
    &__info {
        margin-top: 70px;
    }
    &__logo {
        font-size: 3rem;
        color: rgb(100, 100, 100);
    }
    &__address {
        margin-top: 20px;
    }
    &__address-item {
        font-size: 1.5rem;
        color: rgb(100, 100, 100);
    }
    &__chat {
        display: inline-block;
        margin-top: 30px;
        margin-left: 30px;
    }
    &__line {
        content: url(../../images/line-64px.png);
        border-radius: 13px;
    }
    &__whatsapp {
        content: url(../../images/whatsapp-64px.png);
    }
    &__nav {
        margin-top: 70px;
        margin-left: 250px;
    }
    &__nav-item {
        margin-bottom: 10px;
        a {
            font-size: 1.3rem;
        }
    }
    a {
        color: rgb(100, 100, 100);
    }
    @media screen and (max-width: 768px) {
        &__inner {
            height: 420px;
            padding-top: 10px;
            padding-left: 10px;
        }
        &__cat {
            display: block;
            width: 100%;
        }
        &__info {
            margin-top: 0;
        }
        &__logo {
            font-size: 1.5rem;
        }
        &__address {
            margin-top: 10px;
        }
        &__address-item {
            font-size: 1rem;
            margin-bottom: 1px;
        }
        &__chat {
            display: inline-block;
            margin-top: 10px;
            margin-left: 0;
        }
        &__line {
            content: url(../../images/line-64px.png);
            border-radius: 13px;
        }
        &__whatsapp {
            content: url(../../images/whatsapp-64px.png);
            margin-left: 10px;
        }
        &__nav {
            margin-top: 10px;
            margin-left: 10px;
        }
        &__nav-item {
            margin-bottom: 1px;
            a {
                font-size: 0.8rem;
            }
        }
    }
}