.nav {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    z-index: 1;
    &__inner {
        width: 100%;
        height: 100%;
        padding: 50px 0 0 15px;
        background-color: rgba(50, 50, 50, 0.77);
    }
    &__list {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        padding-inline-start: 0;
    }
    &__item {
        font-size: .9rem;
        border-bottom: 1px solid rgb(150, 150, 150);
        padding-top: 20px;
        a {
            color: rgb(210, 210, 210);
        }
        &:hover {
            background-color: rgb(50, 50, 50);
        }
    }
    &__lang {
        margin-top: 45px;
        color: rgb(210, 210, 210);
        &-text {
            font-size: 1.4rem;
        }
        &-btn {
            margin-top: 10px;
        }
        input[type="radio"] {
            display: none;
        }
        label {
            margin-right: 15px;
        }
    }
    &__btn {
        position: absolute;
        top: 20px;
        left: 320px;
        font-size: 56px;
        color: rgb(50, 50, 50);
        &-close {
            opacity: 0;
        }
        &-text {
            position: absolute;
            top: 50px;
            left: -2.5px;
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width: 768px) {
        &__btn {
            color: rgb(125, 125, 125);
            top: 5px;
            font-size: 45px;
            &-text {
                font-size: 1.2rem;
                top: 37px;
            }
        }
    }
}