.reserve {
    &__inner {
        margin-top: 20px;
    }
    &__text {
        font-size: 1.2rem;
        color: rgb(210, 210, 210);
    }
    &__btn {
        margin-top: 5px;
    }
    &__line {
        a {
            content: url(../../images/line-64px.png);
            border-radius: 13px;
        }
    }
    &__whatsapp {
        a {
            content: url(../../images/whatsapp-64px.png);
            margin-left: 15px;
        }
    }
}